body {
    font-family: Arial, sans-serif;
}
.search-container {
    margin: 20px;
}
.artwork-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.artwork {
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
}
.artwork img {
    width: 100%;
}

#art{
   height: 800px;
   object-fit: cover;
   width: 100%;
   /* position:absolute; */

}

button{
    border-radius: 10px;
    height: 40px;
    width: 80px;
}

input{
    border-radius: 10px;
    height: 40px;
    width: 160px; 
}
a{
    text-decoration: none;
}

.navbar{
    gap: 120px;
    /* position: relative; */
    display: flex;
    text-decoration-color: white;
    background-image: url(Images/museum.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    color: white;
}

.navtext{
    gap: 10px;
    margin-top: 20px;
    color: rgb(7, 7, 7);
}

#body{
    background-color: #8c8bbd;

}

@media screen and (max-width: 767px) {
    .navbar{
        display: flex;  
        gap: 5px;
        margin-right: 5px;
      }  
      #art{
          height:550px
      }

}

@media screen and (min-width: 768px) and (max-width:1138px) {
.navbar{
  display: flex;  
  gap: 5px;
  margin-right: 5px;
}  
#art{
    height:800px
}
input{
    margin-top: 100px;
  }
  button{
    margin-top: 100px;
  }
}

@media screen and (min-width: 992px) {
    .navbar{
        display: flex;  
        gap: 50px;
        font-size: larger;
       
      }  
      #art{
          height:700px
}

}